beautifulsoup4
google-generativeai
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-postgres
langchain-text-splitter
langsmith
pgvector
psycopg-binary
psycopg2-binary
pypdf
python-dotenv
sentence-transformers
SQLAlchemy
streamlit
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
torchvision==0.20.1+cu121
urllib3
uv
