beautifulsoup4
google-generativeai
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-postgres
pgvector
psycopg-binary
psycopg2-binary
pypdf
python-dotenv
sentence-transformers
SQLAlchemy
streamlit
torch
torchaudio
torchvision
urllib3
uv
